extends container

block content
    div
        | Your order has been approved
        p
        | order id: #{order_id}
        | user id: #{user_id}
        | car id: #{car_id}
        p
        | Happy travels, #{userName}!