extends container

block content
    div
        p welcome on board User!
        p Click here to register as an Admin: #{httpString}
        p The link is active for only 15 minutes
        p Good luck!